<ion-view>

    <ion-nav-title>{{ 'AddWord' | translate }}</ion-nav-title>

    <body class="pane">

        <ion-content class="padding" class="has-header has-footer">

            <form name="newWordForm" ng-submit="addWord(newWordForm)" novalidate>

                <label class="item item-divider">
                    {{ 'AddYourNewWord' | translate }}
                </label>

                <div class="list">
                    <!-- Input for a new word -->
                    <label class="item item-input"
                           ng-class="{ 'has-error' : newWordForm.word.$invalid }">
                       <span class="input-label">{{ 'Word' | translate }}</span>
                       <input type="text"
                              name="word"
                              placeholder="{{ 'YourNewWord' | translate }}"
                              ng-model="newWord.word"
                              ng-pattern="/^[a-zA-Z0-9]*$/"
                              ng-minlength="1" ng-maxlength="100" required>
                    </label>

                    <div class="form-errors" ng-messages="newWordForm.word.$error">
                        <div ng-messages-include="templates/form-errors.html">
                            <!-- <div class="form-error" ng-messages="maxlength">Custom message</div> -->
                        </div>
                    </div>

                    <!-- Input for the new word definition -->
                    <label class="item item-input"
                           ng-class="{ 'has-error' : newWordForm.definition.$invalid }">
                       <span class="input-label">{{ 'Definition' | translate }}</span>
                       <input type="text"
                              name="definition"
                              placeholder="{{ 'DefinitionOfYourNewWord' | translate }}"
                              ng-model="newWord.definition"
                              ng-minlength="10" ng-maxlength="500" required>
                    </label>
                </div>

                <div class="form-errors" ng-messages="newWordForm.definition.$error">
                    <div ng-messages-include="templates/form-errors.html">
                    </div>
                </div>

                <div class="padding">
                    <!-- Button to add the new defined word to the dictionary -->
                    <button class="button button-block button-positive" ng-disabled="newWordForm.$invalid">
                        {{ 'Add' | translate }}
                    </button>
                </div>

            </form>

        </ion-content>

    </body>

</ion-view>
