<ion-view>

    <ion-nav-title>{{ 'SignUp' | translate }}</ion-nav-title>

    <ion-content class="padding">

        <form name="newUserForm" ng-submit="addUser(newUserForm)" novalidate>

            <div class="list list-inset">

                <label class="item item-divider">
                    {{ 'EnterYourPersonalInfo' | translate }}
                </label>

                <!-- User username field -->
                <label class="item item-input"
                       ng-class="{ 'has-error' : newUserForm.username.$invalid }">
                    <label class="input-label ng-binding">{{ 'Username' | translate }}</label>
                    <input type="text"
                           name="username"
                           placeholder="{{ 'Username' | translate }}"
                           ng-model="user.username"
                           ng-pattern="/^[a-zA-Z0-9]*$/"
                           ng-minlength="3" ng-maxlength="30" required>
                </label>

                <div class="form-errors" ng-messages="newUserForm.username.$error">
                    <div ng-messages-include="templates/form-errors.html">
                        <!-- <div class="form-error" ng-messages="maxlength">Custom message</div> -->
                    </div>
                </div>

                <!-- User e-mail field -->
                <label class="item item-input"
                       ng-class="{ 'has-error' : newUserForm.email.$invalid }">
                    <label class="input-label ng-binding">{{ 'Email' | translate }}</label>
                    <input type="text"
                           name="email"
                           placeholder="{{ 'Email' | translate }}"
                           ng-model="user.email"
                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                           ng-minlength="5" ng-maxlength="50" required>
                </label>

                <div class="form-errors" ng-messages="newUserForm.email.$error">
                    <div ng-messages-include="templates/form-errors.html">
                    </div>
                </div>

                <!-- User password field -->
                <label class="item item-input"
                       ng-class="{ 'has-error' : newUserForm.password.$invalid }">
                    <label class="input-label ng-binding">{{ 'Password' | translate }}</label>
                    <input type="password"
                           name="password"
                           placeholder="{{ 'Password' | translate }}"
                           ng-model="user.password"
                           ng-minlength="6" ng-maxlength="30" required>
                </label>

                <div class="form-errors" ng-messages="newUserForm.password.$error">
                    <div ng-messages-include="templates/form-errors.html">
                    </div>
                </div>

            </div>

            <div class="padding">
                <button class="button button-block button-calm" ng-disabled="newUserForm.$invalid">
                    {{ 'SignUp' | translate }}
                </button>
            </div>

        </form>

    </ion-content>
</ion-view>
